<section class="main">
    <div class="r">
        <div class="c">
            <img src="../../assets/super-3.png" alt="hero" />

            <p class="hero1">WonderWoman <br /> 12
            </p>
        </div>
    </div>

    <div class="r1">
        <div class="c1">
            <img src="../../assets/super-9.png" alt="hero" />

            <p class="hero1">Catwomen <br /> 30
            </p>
        </div>
    </div>

    <div class="SCORE">
        <P>5-0
        </P>

    </div>

    <div class="r2">
        <div class="c2">
            <img src="../../assets/super-14.png" alt="villain" />

            <p class="hero1">Deadpool <br /> 50
            </p>
        </div>
    </div>

    <div class="r3">
        <div class="c3">
            <img src="../../assets/super-13.png" alt="villain" />

            <p class="hero1">Hulk <br /> 25
            </p>
        </div>
    </div>
</section>